@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "Outfit", sans-serif;
}
html{
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reset-tw ,.reset-tw *{
  all: revert !important;
}
@theme{
  --color-primary:#5044E5
}